#dv1
{
    background-color:red;
}
#dv2
{
    background-color:blue;
}
#dv3
{
    background-color:yellow;
}
#textme
{
    height:20px;
    background-color:gray;
    position:relative;
    bottom:100px;
}
.blue
{
    background-color:blue;
    text-align: center;
}
.red
{
    background-color:red;
    text-align: center;
}


#box1
{
    background-color:red;
    height:500px;
    
}
#box2
{
    background-color:blue;
    height:500px;
    
}
#box3
{
    background-color:yellow;
    height:500px;
    
}